*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_total{
    background-color: #ecf0f1;
  
}

.container_info{
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 20PX;

}
.container_esquerdo{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
   gap: 3rem;
}
.container_direito{
    width: 25%;
    height: 50%;
}