/* Adicionando estilização para os elementos dentro do filtro */

.container_total {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.4);
}

.container_info {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    justify-content: center;
    background-color: #58af9b;
    border-radius: 10px;
}

.container_total h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

.inputFiltro { /* Aplicando a classe ao input */
    width: 50%;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 10px;
}

.inputFiltro:focus { /* Estilo ao focar no input */
    outline: none;
    border: 2px solid #2e7f7e;
}

/* Estilo para o botão */
.botao_criar {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.2s;
    border: none;
    background-color: white;
    color: #2e7f7e;
    font-weight: bold;
    margin-left: 4rem;
    text-decoration: none;
    font-size: 1rem;
}

.botao_criar:hover {
    transform: translateY(0px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.botao_criar::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #fff;
}

.botao_criar:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    transition: all 0.6s;
}
