.container_total {
    background-color: white;
    width: 100%;
    height: 100vh;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.4);
    
  }
  
  .container_total h2 {
    font-size: 1.5rem;
    margin-bottom: 2%;
    text-align: center;
    background-color: #58af9b;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  
  .container_table {
    overflow-y: scroll;
    height: 90%;
  }
  
  .container_table::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }
  
  .container_table::-webkit-scrollbar-thumb {
    background-color: #c5c5c59a;
    border-radius: 10px;
  }
  
  .container_table::-webkit-scrollbar-track {
    background-color: #f7f7f7;
  }
  
  .container_table thead {
    position: sticky;
    top: 0;
  }
  .container_table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .container_table th,
  .container_table td {
    padding: 1.5rem;
    border-bottom: 1px solid #58af9b;
    width: 80%;
    word-wrap: break-word; /* Permite quebra de linha para texto longo */
  }
  .teste{
    margin-right: 10px;
  }
  
  .container_table th {
    background-color: #58af9b;
    color: white;
  }
  
  .container_table tr:hover {
    background-color: #e1f3f1;
  }
  
  .container_table button {
    background-color: #58af9b;
    color: white;
    padding: 0.8rem; /* Ajuste conforme necessário */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  

  
  .container_table button svg {
    font-size: 1.25rem; /* Ajuste o tamanho do ícone aqui */
    /* Adiciona espaço entre o ícone e o texto, se necessário */
  }
  .container_table button:hover{
    background-color:  #368371;
  }
  
  .container_table td {
    text-align: center;
  }
  

  /* Estilo do Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Para garantir que o modal fique acima dos outros elementos */
}

.modalContent {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 500px; /* Aumenta a largura do modal */
  max-width: 90%; /* Garante que o modal não ultrapasse a largura da tela em telas pequenas */
}

.modalContent p {
  font-size: 1.2rem; /* Aumenta o tamanho do texto */
  margin-bottom: 30px; /* Aumenta o espaço entre o texto e os botões */
}

.modalContent button {
  background-color: #58af9b;
  color: white;
  padding: 1rem 2rem; /* Aumenta o tamanho dos botões */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
  transition: background-color 0.3s;
  margin: 10px;
}

.modalContent button:hover {
  background-color: #4da88d;
}

/* Botão de Cancelar */
.modalContent .cancelButton {
  background-color: #c5c5c5;
  color: black;
}

.modalContent .cancelButton:hover {
  background-color: #a2a2a2;
}
