.container_total{
  background-color: white;
  padding: 15px;
  border: #2e7f7e 2px solid;
  border-radius: 10px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.4);
}

.container_info {
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
  justify-content: center;
  background-color: #58af9b;
  border-radius: 10px;

}
.container_total h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}
.container_total input {
  width: 50%;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 10px;
}
.container_total input:focus {
  outline: none;
  border: 2px solid #2e7f7e;
}
