/* Container do formulário */
.container_formulario {
  width: 600px; /* Largura específica para o modal pequeno */
}

.container_formulario label {
  font-weight: bold;
  color: #333;
  display: block;
}

.container_formulario input, select {
  outline: none;
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #58af9b;
  border-radius: 5px;
  font-size: 16px;
}

.botao_salvar {
  margin-top: 40px;
  background-color: #58af9b;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.container_formulario .botao_salvar:hover {
  background-color: #4da88d;
}
