.container_form {
    background-color: white; /* Fundo do formulário branco */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.400);
  }
  
  .container_form h2 {
    background-color: #58af9b;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .container_form label {
    font-weight: bold;
    color: #333333; /* Cor de texto */
    margin-top: 15px;
    display: block;
  }
  
  .container_form input, textarea, select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #58af9b; /* Borda verde-água */
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  .container_form input,textarea, select:focus {
    border-color: #4da88d; /* Borda muda para o tom mais escuro ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
  }
  
  .container_form button {
    background-color: #58af9b; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .container_form button:hover {
    background-color: #4da88d; /* Tom mais escuro ao passar o mouse */
  }
  