/* Alerta no canto inferior direito */
.alerta {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1050;
    max-width: 500px; /* Limitar largura */
    width: 100%;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Espaçamento entre a mensagem e o botão de fechar */
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    opacity: 0.9; /* Transparência ajustada */
    background-color: rgba(255, 255, 255, 0.85); /* Cor de fundo com opacidade */
    transition: opacity 0.3s ease-in-out; /* Suaviza a transição */
}

.alerta .mensagem {
    flex: 1; /* Para que o texto ocupe o espaço restante */
}

.alerta button {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: #ffffff; /* Cor do "X" */
    padding: 0;
    margin-left: 10px;
}
